/*
  Global styles for the application. 
  Since we are using Bootstrap, this file can be used for minor resets 
  or custom font imports.
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* You can define CSS variables here */
  /* --primary-color: #0d6efd; */
}

/* Ensure the body and root element take up full height/width */
body {
  margin: 0;
  min-height: 100vh;
}